<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        h1 {
            color: red;
            font-size: 70px;
            margin: 0px;
            text-align: center;
        }

        h2 {
            color: darkslateblue;
        }
        h3 {
            color: red;
        }
    </style>
    <title>Paul Munar</title>
</head>
<body>
    <div>
        <h2><a href="/">Home</a>
        |
        <a href="/about">About</a>
        |
        <a href="/name_classification">Name Classification</a></h2>
    </div>
    {% block content %}{% endblock %}
</body>
</html>