{% extends "base.html" %}
{% block content %}
    <form action="/name_classification" method="POST">
        {{template_form.hidden_tag()}}
        <p>
            {{template_form.first_name.label}}
            {{template_form.first_name()}}
            {% if first_name_race %}
            <h3>Prediction: <a href="{{ url_for('name_data', name=first_name) }}">{{first_name_race | title}}</a></h3>
            {% endif %}
        </p>
        <p>
            {{template_form.last_name.label}}
            {{template_form.last_name()}}
            {% if last_name_race %}
            <h3>Prediction: <a href="{{ url_for('name_data', name=last_name) }}">{{last_name_race | title}}</a></h3>
            {% endif %}
        </p>
        <p>
            {{template_form.submit()}}
        </p>
    </form>
{% endblock %}